.form-error-message-container {
    display: none;
}
.main-content-block {
    display: block;
}
.hidden-main-content-block {
    display: none;
}
.chat-room-body, .login-signup-form-body, .login-login-form-body {
    padding: 0px 0px 90px 0;
    border-bottom: 1px dotted $brand_color1;
    margin-bottom: 30px;
}
.home-instructions {
    width: 70%;
    margin: auto auto;
    padding-left: 0;
    list-style: inside;
    li {
        margin-bottom: 1.25rem;
    }
    @include respond-to('small') {
        width: 90%;
    }
    @include respond-to('extra-small') {
        width: 90%;
    }
}
//login sigup forms
.login-signup-intro {
    .disclaimer {
        .fa {
            font-size: $font-size-base * 4;
            color: $brand_color2;
        }
        text-align: center;
        font-style: italic;
        width: 70%;
        margin: auto auto;
        @include respond-to('small') {
            width: 90%;
        }
        @include respond-to('extra-small') {
            width: 90%;
        }
    }
    .login-signup-body__actions {
        margin-top: 50px;
        @include flexbox;
        @include justify-content(center);
        @include justify-content(center);
        margin-bottom: 30px;
        .btn {
            margin: 0 15px;
        }
    }
}
.disclaimers {
    .fa {
        font-size: $font-size-base * 4;
        color: $brand_color2;
        margin-bottom: 15px;
        @include respond-to('small') {
            font-size: $font-size-base * 2.5;
        }
        @include respond-to('extra-small') {
            font-size: $font-size-base * 2.5;
        }
    }
    text-align: center;
    font-style: italic;
    width: 70%;
    margin: auto auto;
    margin-bottom: 30px;
    @include respond-to('small') {
        width: 90%;
    }
    @include respond-to('extra-small') {
        width: 90%;
    }
}
.required-label:after {
    content: " *";
    color: $orange_forms;
}
form {
    .zoomed-checkbox-form {
        input[type="checkbox"] {
            transform: scale(2);
            margin-left: 0;
            position: relative;
            display: inline-block;
            margin-right: 15px;
        }
        label {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            font-weight: bold;
        }
    }
}