.form-error-message-container {
    display: none;
}
.main-content-block {
    display: block;
    padding-top: 135px;
    background: white;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    @include respond-to('small') {
        padding-top: 130px;
    }
    @include respond-to('extra-small') {
        padding-top: 130px;
    }
    .no-results-message {
        padding: 60px;
        color: $brand_color1;
        font-weight: bold;
        padding-bottom: 200px;
    }
    &.acknowledgement-page-content {
        padding-top: 0;
        padding-bottom: 100px;
    }
}
.hidden-main-content-block {
    display: none !important;
}
.chat-room-body, .login-signup-form-body, .login-login-form-body {
    padding: 0px 0px 90px 0;
    border-bottom: 1px dotted $brand_color1;
    margin-bottom: 30px;
}
.home-instructions {
    width: 70%;
    margin: auto auto;
    padding-left: 0;
    list-style: inside;
    li {
        margin-bottom: 1.25rem;
    }
    @include respond-to("small") {
        width: 90%;
    }
    @include respond-to("extra-small") {
        width: 90%;
    }
}
.status-list {
    padding: 15px 0;
    li {
        >div {
            display: inline-block;
            width: 90%;
        }
        >div>span {
            @include flexbox;
            @include align-items(center);
            @include justify-content(flex-start);
            @include flex-wrap(wrap);
            width: 90%;
            font-weight: bold;
        }
        span.status-list__color {
            width: 30px;
            height: 30px; // border-radius: 50px;
            margin-right: 15px;
            display: block;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            @include flex-wrap(wrap);
            i {
                color: white;
                font-size: 16px;
            }
        }
    }
}
//login sigup forms
.login-signup-intro {
    padding: 15px 0;
    .disclaimer {
        .fa {
            font-size: $font-size-base * 4;
            color: $brand_color2;
        }
        text-align: center;
        font-style: italic;
        width: 70%;
        margin: auto auto;
        @include respond-to("small") {
            width: 90%;
        }
        @include respond-to("extra-small") {
            width: 90%;
        }
    }
    .login-signup-body__actions {
        margin-top: 50px;
        @include flexbox;
        @include justify-content(center);
        @include justify-content(center);
        margin-bottom: 30px;
        .btn {
            margin: 0 15px;
        }
    }
}
.disclaimers {
    .fa {
        font-size: $font-size-base * 4;
        color: $brand_color2;
        margin-bottom: 15px;
        @include respond-to("small") {
            font-size: $font-size-base * 2.5;
        }
        @include respond-to("extra-small") {
            font-size: $font-size-base * 2.5;
        }
    }
    text-align: center;
    font-style: italic;
    width: 70%;
    margin: auto auto;
    margin-bottom: 30px;
    @include respond-to("small") {
        width: 90%;
    }
    @include respond-to("extra-small") {
        width: 90%;
    }
}
.required-label:after {
    content: " *";
    color: $orange_forms;
}
form {
    .zoomed-checkbox-form {
        input[type="checkbox"] {
            transform: scale(2);
            margin-left: 0;
            position: relative;
            display: inline-block;
            margin-right: 15px;
        }
        label {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            font-weight: bold;
        }
    }
}
//Public chat
.msg_border {
    // border-bottom: 1px solid #ddd;
    border-top: none;
    height: 70vh;
    background: white;
    @include respond-to("small") {
        height: auto;
        min-height: 150vh;
        padding-bottom: 100px;
    }
    @include respond-to("extra-small") {
        height: auto;
        min-height: 150vh;
        padding-bottom: 100px;
    }
    .messaging {
        padding: 0px 0px 0px 0px;
        height: 100%;
        >div {
            padding-top: 15px;
            padding-bottom: 15px;
            @include respond-to("small") {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            @include respond-to("extra-small") {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}
.type_area {
    border-top: 1px dotted #ddd;
    position: relative;
    padding: 15px 15px 5px 15px;
    background: white;
    box-shadow: 0px -1px 10px 1px #999;
    @include respond-to("small") {
        padding: 15px 15px 15px 15px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
    @include respond-to("extra-small") {
        padding: 15px 15px 15px 15px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }
}
.msg_area {
    height: 100%;
    overflow-y: auto;
    background: white;
    padding: 0px 15px 0px 15px;
    .user-post {
        margin-bottom: 10px;
        border-radius: 12.5px;
        border: 1px solid #eee;
        overflow: visible;
        &.user-post-odd {
            background: white;
            margin-right: 25%;
            border-left-color: $brand_color1;
        }
        &.user-post-even {
            background: #f3f3f3;
            margin-right: 25%;
            border-left-color: $brand_color1;
        }
        &.user-post-current {
            margin-left: 25%;
            margin-right: 0%;
            border-right-color: $brand_color2;
            border-left: none;
            @include respond-to("small") {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
                border-right-color: $brand_color2;
                border-right-width: 3px;
            }
            @include respond-to("extra-small") {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
                border-right-color: $brand_color2;
                border-right-width: 3px;
            }
            .username {
                font-size: 1em;
                color: $brand_color2 !important;
            }
        }
        @include respond-to("small") {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        @include respond-to("extra-small") {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        .statusIndicator {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            display: inline-block;
            vertical-align: middle;
        }
        .timestamp {
            float: right;
        }
        .username {
            font-size: 0.9em;
            font-weight: bold;
            color: $brand_color1;
            color: #555;
        }
        .msg {
            margin-top: 2px;
        }
    }
    .list-group-item {
        padding: 7.5px 12.5px;
    }
    &.msg_area-announcement {
        .user-post {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            border: none !important;
            background: white;
            border-bottom: 1px dotted $brand_color1 !important;
            border-radius: 0;
            .statusIndicator {
                display: none;
            }
            &.user-post-odd {
                border-color: $brand_color2;
            }
            &.user-post-even {
                border: none;
            }
            .msg_metadata {
                margin-bottom: 5px;
            }
            .username {
                color: #999 !important;
            }
        }
    }
}
.msg_metadata {
    //display: flex;
    //   justify-content: space-between;
}
.msg {
    width: 100%;
    word-break: break-all;
}
//popup modal
.modal-instructions {
    width: 70%;
    margin: auto auto;
    padding-left: 0;
    list-style: inside; // li {
    //     margin-bottom: 1.25rem;
    // }
    @include respond-to("small") {
        width: 90%;
    }
    @include respond-to("extra-small") {
        width: 90%;
    }
    .status-list {
        padding: 15px 0;
        .fake-list {
            >div {
                display: inline-block;
                width: 90%;
            }
            >div>span {
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-start);
                @include flex-wrap(wrap);
                width: 90%;
                font-weight: bold;
            }
            span.status-list__color {
                width: 30px;
                height: 30px; // border-radius: 50px;
                margin-right: 15px;
                display: inline-block;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include flex-wrap(wrap);
                i {
                    color: white;
                    font-size: 16px;
                }
            }
            .radio-inline {
                Vertical-Align: text-top;
            }
        }
    }
}
.list-instructions {
    span.status-list__color {
        width: 26px;
        height: 26px;
        border-radius: 15px;
        margin: 10px;
        margin-left: 0;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(wrap);
        i {
            min-width: 18px;
            text-align: center; //padding: 5px;
            color: white;
            font-size: 17px;
        }
    }
}
.user-list-content {
    >div {
        background: white;
    }
    .list-group-item {
        border: none;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        border-bottom: none;
        border-bottom: 2px dotted #ccc !important;
        @include respond-to("small") {
            padding: 8px 15px;
        }
        @include respond-to("extra-small") {
            padding: 7px 15px;
        }
        .list-group-item__left {
            @include flexbox;
            @include align-items(center);
            @include justify-content(flex-start);
        }
        .list-group-item__right {
            @include flexbox;
            @include align-items(center);
            @include justify-content(flex-end);
            .badge {
                margin-left: 15px;
            }
            .chat-button {
                @include flexbox;
                @include align-items(center);
                text-decoration: none;
                font-size: 24px;
                color: #aaaaaa;
                &:hover {
                    color: #F7241D;
                }
                &.chat-button-alert {
                    color: #F58225;
                }
                .message-counter {
                    margin-right: 6px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        .username {
            font-size: 0.9em;
            a {}
        }
    }
}
.list-group-item {
    border-top: none;
    border-bottom: 2px solid #ddd;
}
#status-modal {
    .modal-body {
        padding: 10px 15px;
        @include respond-to("small") {
            padding: 5px 15px;
        }
        @include respond-to("extra-small") {
            padding: 5px 15px;
        }
    }
    .modal-dialog {
        margin-top: 15%;
    }
    .modal-header {
        .close {
            opacity: 1 !important;
            span {
                color: $brand_color2;
                font-size: 1.5em;
                top: 5px;
                position: absolute;
                right: 10px;
            }
        }
        h3 {
            font-size: 1.25em;
            text-align: center;
            color: $brand_color1;
        }
    }
}
.more-results-button-container {
    a {
        border: 1px solid $brand_color1;
        border-radius: 5px;
        padding: 4px 15px;
        text-decoration: none;
        &:hover, &:active {
            background: $brand_color1;
            color: #ddd;
            cursor: pointer;
        }
        &:active {
            color: white;
        }
    }
}
/********** user profile ************/

//profile
.user-profile-content, .user-profile-forms {
    padding: 30px;
    padding-top: 90px;
    background: white;
    @include respond-to("small") {
        padding: 15px;
        padding-top: 90px;
    }
    @include respond-to("extra-small") {
        padding: 15px;
        padding-top: 90px;
    }
    .profile-block {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px dotted $brand_color2;
        border-bottom: 1px dotted #ccc;
        .edit-profile-button {
            position: absolute;
            right: 0px;
            top: 7.5px;
        }
        .profile-block__subtitle {
            color: $brand_color1;
            margin: 0;
            margin-bottom: 22.5px;
        }
        .profile-block__user-attribute-data {
            @include flexbox;
            @include align-items(flex-start);
            @include justify-content(flex-start);
            @include flex-wrap(wrap);
            margin-bottom: 12.5px;
            >span {
                width: 37%;
                color: #666666;
                margin-bottom: 2.5px;
            }
            >strong, p {
                color: #333;
            }
            >strong {
                width: 63%;
            }
        }
        .user-attribute-data__personal-message {
            font-style: italic;
            color: #000;
            font-weight: bold;
            margin: 10px 0;
            margin-bottom: 45px;
        }
        form {
            width: 100%;
        }
        .form-group {
            width: 100%;
            @include flexbox;
            @include align-items(flex-start);
            @include justify-content(flex-end);
            @include flex-wrap(wrap);
            label {
                width: 100%;
            }
            input {
                width: 100%;
                margin-bottom: 10px;
                border: 1px solid #999;
                text-align: center;
            }
        }
    }
    .disclaimer, .profile-form {
        .subtitle {
            color: $brand_color1;
            margin: 0;
            margin-bottom: 22.5px;
            font-size: 18px;
        }
    }
    .profile-form {
        position: relative;
        padding-top: 15px; // padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: none !important;
        .edit-profile-button {
            position: absolute;
            right: 0px;
            top: 7.5px;
        }
        label, li, p, span, strong {
            line-height: 1.6em;
        }
        .profile-form__user-attribute-data {
            .form-group {
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-start);
                @include flex-wrap(wrap);
                margin-bottom: 15px;
                label {
                    width: 37%;
                    color: #666666;
                    margin-bottom: 2.5px;
                    font-size: 1em;
                    &.required {
                        &:after {
                            content: " *";
                            color: $brand-color2;
                        }
                    }
                    &.checkbox-label {
                        width: 90%;
                        font-size: 0.9em;
                        color: $brand_color1;
                        text-decoration: underline;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                input[type=text], textarea, select {
                    width: 63%;
                    border: 1px solid #999;
                    text-align: center;
                }
                input[type=checkbox] {
                    border: 1px solid #999;
                    text-align: center;
                    margin-right: 15px;
                }
                select {
                    text-align-last: center;
                    text-indent: 5px;
                    option {
                        text-align: center;
                    }
                }
                textarea {
                    width: 100%;
                    min-height: 100px;
                    padding: 10px;
                }
                .radio {
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(flex-start);
                    width: 63%;
                    >div {
                        width: 35%;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(flex-start);
                        label, input {
                            width: auto;
                            margin: 0;
                            padding: 0;
                            position: relative;
                        }
                        input {
                            width: auto;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .profile-form__submit {
            text-align: right;
            width: 100%;
            .btn {}
        }
        .user-attribute-data__personal-message {
            font-style: italic;
            color: #000;
            font-weight: bold;
            margin: 10px 0;
            margin-bottom: 45px;
        }
    }
    .disclaimer {
        ul {
            padding-left: 15px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .user-profile-menu {
        padding: 0;
        margin: 0;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        list-style: none;
        li {
            padding: 5px 12.5px;
            min-width: 33.333333%;
            a {
                display: block;
                width: 100%;
                border-radius: 5px;
                &.active {
                    background: #f3f3f3;
                    color: #333;
                }
            }
        }
    }
    .term-conditions, .user-profile__personal-message-container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(#333, 0.5);
        z-index: 9999999999999999999;
        padding: 15px;
        >div {
            background: white;
            height: 100%;
            padding: 30px;
            width: 100%;
        }
        .subtitle {
            color: $brand_color1;
            margin: 0;
            margin-bottom: 22.5px;
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            line-height: 1.4em;
        }
        .close {
            position: absolute;
            right: 27.5px;
            top: 27.5px;
            color: $brand_color2;
            opacity: 1;
            font-size: 1.75em;
        }
    }
}
.not-authorized, .profile-update-invite {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(#333, 0.5);
    z-index: 9999999999999999999;
    padding: 45px 20px;
    >div {
        background: white;
        height: 100%;
        padding: 15px 25px;
        width: 100%;
    }
    .subtitle {
        color: $brand_color2;
        margin: 0;
        margin-bottom: 22.5px;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        line-height: 1.4em;
        margin-top: 20%;
    }
    p {
        margin-bottom: 30px;
        text-align: justify;
    }
    .close {
        position: absolute;
        right: 35px;
        top: 60px;
        color: $brand_color2;
        opacity: 1;
        font-size: 1.75em;
    }
}
/***** resource sharing ********/

.resources-content {
    padding-top: 70px;
    display: block;
    color: $brand_color1; //@include flexbox;
    .msg_border {
        height: auto;
        @include respond-to("small") {
            height: auto;
            padding-bottom: 100px;
        }
        @include respond-to("extra-small") {
            height: auto;
            padding-bottom: 100px;
        }
    }
    #div-resource-type, #div-steps {
        text-align: center;
        display: inline;
        .btn-primary {
            border-radius: 50%;
        }
        .selected-btn {
            background-color: $brand_color2;
        }
    }
    #resource-picture-div {
        #save-resource-btn {
            text-align: right;
        }
        #image-preview {
            width: 90%;
            object-fit: scale-down;
            height: 350px;
        }
    }
    .container {
        width: 90%;
    }
    .form-check-inline {
        display: inline;
        padding: 5px;
    }
    .input-group {
        width: 100%;
    }
}
.resources-list-content {
    padding-top: 70px;
    display: block;
    .list-group-item__right {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
        #icon {
            color: $brand_color2;
        }
    }
    .modal-content .container {
        width: 90%;
    }
    .modal-content .modal-body .resources-content {
        overflow-y: scroll;
        height: auto;
        min-height: auto;
        padding-top: 1px;
        .msg_border {
            min-height: auto;
        }
    }
    .type_area {
        #addResourceIcon {
            color: $brand_color1;
            background-color: white;
        }
        text-align: end;
    }
}
/***** emegency status detail view ********/

.emergencyDetailcontainer {
    background: white;
    .blueText {
        color: #2e6da4;
    }
    .emergencyDetailHeader {
        position: relative;
        .editButton {
            position: absolute;
            top: 0px;
            right: 7px;
            border-radius: 8px;
        }
    }
    .delete-button, .edit-button, .save-button, .add-button, .upload-button, .close-button, .loc-edit-button, .loc-save-button {
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 8px;
    }
    .edit-picDes-button, .save-picDes-button {
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 15px;
        border-radius: 8px;
    }
    .examplePic {
        max-width: 100%;
    }
}
#userEmergencyDetail {
    .blueText {
        color: #2e6da4;
    }
    .pictureContainer {
        position: relative;
    }
    .userExamplePic {
        width: 100%;
    }
}
// .userExamplePic {
//     width:50px;
// }