/*---------PIE PAGINA------------*/

footer {
    color: $brand_color2;
    color: #999;
    * {
        font-size: 1em;
        // position: fixed;
        // bottom: 10px;
        // width: 100%;
        // left: 0;
        // text-align: center;
    }
}