.header {
    * {
        transition: all 0.4s ease !important; // @include transition(.6s ease-in-out left);
    }
    border: none;
    &.header-loggedin {
        border-bottom: 1px solid #ccc;
    }
    .top-header-admin-bar {
        margin: 0;
        background: #f7f7f7;
        padding: 4px 10px;
        border-bottom: 1px solid #ccc;
        @include flexbox;
        @include justify-content(flex-start);
        .admin-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            width: auto;
            padding-right: 15px;
            @include flexbox;
            @include justify-content(center);
            li {
                margin-left: 5px;
                i {
                    margin-right: 5px;
                    font-size: 1.35em;
                    color: $brand_color1;
                }
                a {
                    text-decoration: underline;
                    font-style: italic;
                    span {
                        margin-right: 10px;
                        color: $brand_color1;
                    }
                }
                * {}
            }
        }
        .announcement-content {
            margin: 0;
            text-align: left;
            min-width: 70%;
            max-width: 85%;
            overflow: hidden;
            p {
                width: auto;
                margin: 0;
                padding: 0;
                color: $brand_color2;
                font-weight: bold;
                animation: moveText 25s;
                animation-timing-function: linear;
                animation-iteration-count: 200;
                position: relative;
                @keyframes moveText {
                    from {
                        right: -100%;
                    }
                    to {
                        right: 100%;
                    }
                }
            }
        }
    }
    .navbar {
        margin-bottom: 0;
    } // padding-top: 15px;
    .logo-container {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        margin-bottom: 7.5px;
        margin-top: 3.125%;
        @include respond-to('small') {
            margin-top: 5%;
        }
        @include respond-to('extra-small') {
            margin-top: 5%;
        }
        .logo {
            width: 65px;
            margin-right: 20px;
        }
        span {
            font-size: $font-size-base * 1.5;
            color: $brand_color1;
            @include respond-to('small') {
                font-size: $font-size-base * 1.35;
            }
            @include respond-to('extra-small') {
                font-size: $font-size-base * 1.35;
            }
        }
        &.logo-container-not-logged-in {}
        &.logo-container-logged-in {
            @include respond-to('small') {
                @include justify-content(flex-start);
            }
            @include respond-to('extra-small') {
                @include justify-content(flex-start);
            }
            .logout-button {
                width: 175px;
                position: absolute;
                top: 6px;
                right: 0px;
                color: #999;
                text-align: right;
                text-decoration: underline;
                @include respond-to('small') {
                    right: 15px;
                    top: 4px;
                }
                @include respond-to('extra-small') {
                    right: 15px;
                    top: 4px;
                }
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-end);
                i {
                    font-size: $font-size-base * 1.3;
                    margin-left: 10px;
                }
                &:hover {
                    // color: red;
                }
                @include respond-to('large') {
                    right: 12.5%;
                }
            }
        }
    }
    &.header-loggedin {
        margin-bottom: 0;
        padding-top: 0px;
        border-top: 1.5px solid $brand_color2;
        background: $brand_color1;
        .logo {
            width: 40px;
            @include respond-to('small') {
                width: 35px;
                margin-right: 10px;
            }
            @include respond-to('extra-small') {
                width: 35px;
                margin-right: 10px;
            }
        }
        .app-menu {
            @include reset-margin-padding;
            list-style: none;
            @include flexbox;
            @include align-items(stretch);
            @include justify-content(space-between);
            min-height: 68px;
            li {
                @include flexbox;
                @include align-items(stretch);
                @include reset-margin-padding;
                width: 20%;
                min-height: 68px;
                a {
                    display: block;
                    color: white;
                    padding: 0px 10px;
                    padding-top: 10px;
                    text-align: center;
                    width: 100%;
                    height: 68px;
                    text-decoration: none;
                    border-left: 1px solid rgba(#fff, 0.35);
                    @include flexbox;
                    @include justify-content(center);
                    @include flex-wrap(wrap);
                    @include align-items(flex-start);
                    line-height: 1.3em;
                    span {
                        color: rgba(#fff, 0.9);
                        font-size: 1.0rem;
                        margin: 0;
                        min-height: 35px;
                        margin-top: 0px;
                    }
                    i {
                        margin: 0;
                        font-size: 23px;
                        display: block;
                        width: 100%;
                        line-height: 25px;
                    }
                    &:hover {
                        cursor: pointer;
                        i {
                            color: rgba($brand_color2, 0.75);
                        }
                    }
                    &.active {
                        background: #eee;
                        i, span {
                            color: $brand_color1;
                            font-weight: bold;
                        }
                        i {
                            font-size: 23px; // margin-bottom: 4px;
                        }
                        span {
                            font-size: 1.1rem !important;
                        }
                    }
                }
                &:hover {
                    a {
                        background: #eee;
                        i, span {
                            color: $brand_color1;
                        }
                    }
                }
            }
        }
    }
}