.header {
    border: none;
    .navbar {
        margin-bottom: 0;
    } // padding-top: 15px;
    .logo-container {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        margin-bottom: 7.5px;
        margin-top: 3.125%;
        @include respond-to('small') {
            margin-top: 5%;
        }
        @include respond-to('extra-small') {
            margin-top: 5%;
        }
        .logo {
            width: 65px;
            margin-right: 20px;
        }
        span {
            font-size: $font-size-base * 1.5;
            color: $brand_color1;
            @include respond-to('small') {
                font-size: $font-size-base * 1.35;
            }
            @include respond-to('extra-small') {
                font-size: $font-size-base * 1.35;
            }
        }
        &.logo-container-not-logged-in {}
        &.logo-container-logged-in {
            @include respond-to('small') {
                @include justify-content(flex-start);
            }
            @include respond-to('extra-small') {
                @include justify-content(flex-start);
            }
            .logout-button {
                width: 175px;
                position: absolute;
                top: 6px;
                right: 0px;
                color: #999;
                text-align: right;
                text-decoration: underline;
                @include respond-to('small') {
                    right: 15px;
                    top: 4px;
                }
                @include respond-to('extra-small') {
                    right: 15px;
                    top: 4px;
                }
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-end);
                i {
                    font-size: $font-size-base * 1.3;
                    margin-left: 10px;
                }
                &:hover {
                    // color: red;
                }
                @include respond-to('large') {
                    right: 12.5%;
                }
            }
        }
    }
    &.header-loggedin {
        margin-bottom: 0;
        padding-top: 0px;
        border-top: 1px solid $brand_color2;
        background: $brand_color1;
        .logo {
            width: 40px;
            @include respond-to('small') {
                width: 35px;
                margin-right: 10px;
            }
            @include respond-to('extra-small') {
                width: 35px;
                margin-right: 10px;
            }
        }
        .app-menu {
            @include reset-margin-padding;
            list-style: none;
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            li {
                @include reset-margin-padding;
                width: 25%;
                a {
                    display: block;
                    color: white;
                    padding: 10px 15px;
                    text-align: center;
                    width: 100%;
                    text-decoration: none;
                    border-left: 1px solid rgba(#fff, 0.35);
                    span {
                        color: rgba(#fff, 0.9);
                        font-size: 1rem;
                    }
                    i {
                        font-size: 27.5px;
                        display: block;
                    }
                    &:hover {
                        cursor: pointer;
                        i {
                            color: rgba($brand_color2, 0.75);
                        }
                    }
                    &.active {
                        i {
                            color: rgba($brand_color2, 0.9);
                        }
                    }
                }
            }
        }
    }
}