<div class="acknowledgement-page-content main-content-block hidden" id="acknowledgement-page-content">

    <p class="disclaimers">
        <i class="fa fa-warning" aria-hidden="true"></i>
        <br />
        <strong><span class="user-name-placeholder"></span> Thanks for creating your account. Please read the following instructions and accept them by clicking in the acknowledgement checkbox at the bottom. After that you will be redirected to the main page of the app:</strong>
        <ul class="home-instructions">
            <li>1.In this application you will be able to communicate with our emergency response team and let the know what is your current situation and where are you located.</li>
            <li>2. Before contacting us you will have to select you current status from our status list (done in the following page). The statuses available (that you will select in the next page after clicking the continue button) are
                    <ul class="status-list">
                        <li><div><span><span class="status-list__color background-color-ok"><i class="fa fa-check"></i></span> OK</span></div></li>
                        <li><div><span><span class="status-list__color background-color-help"><i class="fa fa-exclamation"></i></span> HELP</span></div></li>
                        <li><div><span><span class="status-list__color background-color-emergency"><i class="fa fa-exclamation-triangle"></i></span> EMERGENCY</span></div></li>
                        <li><div><span><span class="status-list__color background-color-undefined"><i class="fa fa-question"></i></span> UNDEFINED</span></div></li>
                    </ul>
            </li>
            <li>3. After you have done this you will be able to communicate with us and with other people that join this communication channel. Please be patient, help other if possible and if you are not in danger allow others to message us first so we can get to them.</li>
        </ul>
        <div class="col-xs-24 col-sm-18 col-sm-offset-3 col-md-12 col-md-offset-6">
            <form accept-charset="utf-8">
                <div class="checkbox zoomed-checkbox-form">
                    <label for="">
                        <input type="checkbox" name="signup-acknowledgement" checked="checked" id="signup-acknowledgement"> By clicking on this checkbox you agree the instructions listed above.</a>
                    </label>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" type="submit" id="acknowledgement-submit-button"> Continue</button>
                </div>
            </form>
        </div>
    </p>
</div>