<div class="container emergencyDetailcontainer">
    <div class="message-chat-content main-content-block hidden-main-content-block" id="status-content">
        <!-- block for header -->
        <div class="row">
            <div class="col-xs-24">
                <div class="emergencyDetailHeader">
                    <h3 class="text-center blueText"> Emergency Detail</h3>
                    <button type="button" class="btn btn-primary btn-sm align-middle editButton">Edit</button>
                </div>
            </div>
        </div>
        <!-- block for status discription -->
        <div class="row">
            <div class="col-xs-20 col-xs-offset-2">
                <div class=" briefDescription" id="briefDescriptionContainer">
                    <h4 class="blueText"> Briefly describe your situation:</h4>

                    <p class = "hidden" id="briefDescriptionPreview">
                        This is an area where you put a brief
                        description of your situation.
                    </p>


                    <textarea class = "form-control hidden" id="briefDescriptionEdit" rows="3">
                    This is an area where you put a brief
                    description of your situation. 
                    </textarea>

                </div>
            </div>
        </div>
        <!-- block for share location -->
        <div class="row">
            <div class="col-xs-20 col-xs-offset-2">
                <div class="shareLocation">
                    <h4 class="blueText"> Share your location: 
                        <label class="switch hidden" id = "shareLocationToggle">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </h4>
                    <img class="examplePic" src="tmp/map.png" alt="example map">
                    <p>
                        7777
                    </p>
                </div>
            </div>
        </div>
        <!-- block for share picture and description -->
        <div class="row">
            <div class="col-xs-20 col-xs-offset-2">
                <div class="sharePicture">
                    <h4 class="blueText"> Add pictures and descriptions:</h4>
                    <img class="examplePic" src="tmp/dog.jpeg" alt="example map">
                    <p>
                        1234
                    </p>
                    <img class="examplePic" src="tmp/cat.jpeg" alt="example map">
                    <p>
                        5678
                    </p>
                </div>
            </div>
        </div>








    </div>
</div>