<!-- views/partials/header.ejs -->

<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="logo-container logo-container-not-loggedin text-center">
            <a href="/" class="content-changer" data-view-id="home-content">
                <span>
                    FSE  - Emergency Response Social Network (ESN)
                </span>
            </a>
        </div>
    </div>
</div>