<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <ul class="app-menu" style="background: #2D9988">
            <li><a class="content-changer active" data-view-id="user-list-content"><i class="fa fa-comments-o"></i><span>tab 1</span></a></li>
            <li><a class="content-changer" data-view-id="public-chat-content"><i class="fa fa-comments-o"></i><span>Tab 2</span></a></li>
            <li><a class="content-changer" data-view-id="public-chat-content2"><i class="fa fa-comments-o"></i><span>Tab 3</span></a></li>
            <li><a class="content-changer" data-view-id="public-chat-content3"><i class="fa fa-comments-o"></i><span>Tab 4</span></a></li>
        </ul>
    </div>
</div>