<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="top-header-admin-bar">
            <ul class="admin-menu">
                <li><a id="announcement-button" data-view-id="announcement-chat-content" class="menu-content-changer" data-view-group-class="announcements-components"><span>Announcements </span><i id = "announcementIcon" class="fa fa-bullhorn" aria-hidden="true"></i></a></li>
            </ul>
            <div class="announcement-content">
                <p id="last-announcement-container"></p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="menu-content-changer active" data-view-id="user-list-content" data-view-group-class="user-list-components" ><i class="fa fa-address-book"></i><span>Users</span></a></li>
            <li><a class="menu-content-changer" data-view-id="public-chat-content" data-view-group-class="public-chat-components"><i class="fa fa-comments"></i><span>Public</span></a></li>
            <li><a class="menu-content-changer" data-view-id="private-chat-content" data-view-group-class="private-chat-components"><i class="fa fa-comment"></i><span>Private</span></a></li>
            <li class="hideadble-menu-item active-hideadble-menu-item"><a id="status-button" data-view-id="status-content" ><i id = "statusIcon" class="fa fa-question"></i><span>Status</span></a></li>
            <li class="hidden"><a class="menu-less"><i class="fa fa-minus" aria-hidden="true"></i><span class="">less</span></a></li>
            <li class="hidden hideadble-menu-item"><a class="menu-content-changer" data-view-id="user-profile-content" data-view-group-class="none"><i class="fa fa-user"></i><span>My profile</span></a></li>
            <li class="hidden hideadble-menu-item"><a class="menu-content-changer " data-view-id="resources-list-content" data-view-group-class="resources-components"><i class="fa fa-hospital-o"></i><span>Food & Shelter</span></a></li>
            <li class="hidden hideadble-menu-item"><a href="#signout-action" id="signout-action" class=""><i class="fa fa-sign-out"></i><span>Exit</span><!-- <span class="user-name-reference"></span> --></a></li>
            <li class=""><a class="menu-more"><i class="fa fa-plus" aria-hidden="true"></i><span class="">More</span></a></li>
        </ul>
    </div>
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="search-forms-container">
            <!-- user list search form -->
            <div class="block-search-form hideable-group-component user-list-components" >
                <form id="users-search-form">
                    <div class="form-group">
                        <ul class="status-list">
                            <li><div><span class="status-list__color background-color-ok non-selected" data-status="OK"><i class="fa fa-check"></i></span></div></li>
                            <li><div><span class="status-list__color background-color-help non-selected" data-status="HELP"><i class="fa fa-exclamation"></i></span></div></li>
                            <li><div><span class="status-list__color background-color-emergency non-selected" data-status="EMERGENCY"><i class="fa fa-exclamation-triangle"></i></span></div></li>
                            <li><div><span class="status-list__color background-color-undefined non-selected" data-status="UNDEFINED"><i class="fa fa-question"></i></span></div></li>
                        </ul>
                        <input type="hidden" id="search-users-list__status"  >
                        <input type="text" id="search-users-list__input" class="form-control search-input" placeholder="Search here for users" >
                        <button class="search-btn" type="submit" id="search-users-list__button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>

            <!-- public chat search form -->
            <div class="block-search-form hidden hideable-group-component public-chat-components">
                <form id="public-chat-search-form">
                    <div class="form-group">
                        <input type="text" id="search-public-chat__input" class="form-control search-input" placeholder="Search for messages in this group chat">
                        <button class="search-btn" type="submit" id="search-public-chat__button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>

            <!-- private chat search form -->
            <div class="block-search-form hidden hideable-group-component private-chat-components">
                <form id="private-chat-search-form">
                    <div class="form-group">
                        <input type="text" id="search-private-chat__input" class="form-control search-input" placeholder="Search for messages in this private chat">
                        <button class="search-btn" type="submit" id="search-private-chat__button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>

            <!-- announcements search form -->
            <div class="block-search-form hidden hideable-group-component announcements-components">
                <form id="announcements-search-form">
                    <div class="form-group">
                        <input type="text" id="search-announcements__input" class="form-control search-input" placeholder="Search here for previous announcements">
                        <button class="search-btn" type="submit" id="search-announcements__button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>