<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="top-header-admin-bar">
            <ul class="admin-menu">
                <li><a id = "announcement-button" data-view-id="status-content"><i id = "announcementIcon" class="fa fa-bullhorn" aria-hidden="true"></i><span>New Announcement</span></a></li>
            </ul>
        </div>
        <ul class="app-menu">
            <li><a class="content-changer active" data-view-id="user-list-content"><i class="fa fa-address-book"></i><span>Users</span></a></li>
            <li><a class="content-changer" data-view-id="public-chat-content"><i class="fa fa-comments"></i><span>Public Chat</span></a></li>
            <li><a class="content-changer" data-view-id="private-chat-content"><i class="fa fa-comment"></i><span>Single Chat</span></a></li>
            <li><a id = "announcement-button" data-view-id="status-content"><i id = "announcementIcon" class="fa fa-bullhorn" aria-hidden="true"></i><span>Announcements</span></a></li>
            <li><a id = "status-button" data-view-id="status-content"><i id = "statusIcon" class="fa fa-question"></i><span>Status</span></a></li>
            <li><a href="#signout-action"><i class="fa fa-sign-out"></i><span></a></li>
        </ul>
    </div>
</div>