<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="public-chat-content main-content-block hidden-main-content-block" id="public-chat-content">

            <div class="msg_border">
                <div class="messaging">
                    <div class="msg_area">
                        <ul class="list-group list-group-flush" id="chat">
                            <li id='template' class="user-post list-group-item list-group-item-action flex-column align-items-center hide">
                                <div class="msg_metadata">
                                    <span class="statusIndicator"> &nbsp;  </span>
                                    <small class="username"> %username_token% </small>
                                    <small class="timestamp"> %timestamp_token% </small>
                                </div>
                                <p class="mb-1 text-wrap text-break msg">
                                    %message_token%
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="type_area">
                        <form id="msg-form" action="">
                            <div class="input-group">
                                <input type="text" autocomplete="off" class="form-control" placeholder="Type your message here"
                                aria-label="Recipient's username" aria-describedby="basic-addon2"  id="send-message-content"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="send-btn"><span class="glyphicon glyphicon-send"
                                        aria-hidden="true">
                                    </span> Send</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>