<div class="sign-out-poppup hidden" id="sign-out-poppup">
    <div>
        <a class="" data-id-to-hide="sign-out-poppup"></a>
        <h4 class="subtitle">Information:</h4>
        <h3 class="text-center">Sorry, Your account has been Suspended!</h3>
        <div class="text-center">
            <button class="btn btn-primary btn-exit-popup content-changer hide-controller" data-id-to-hide="sign-out-poppup" data-view-id="signout-poppup-content" data-view-group-class="none">Exit</button>
        </div>
    </div>
</div>