<div class="login-signup-form-body main-content-block hidden-main-content-block" id="login-signup-form-content">
    <p class="disclaimers">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <br>
        The following fields are required to create an account in <strong>ESN</strong>
    </p>

    <div class="col-xs-24 col-sm-18 col-sm-offset-3 col-md-12 col-md-offset-6">
        <div class="form-error-message-container alert alert-danger text-center alert-dismissible fade in" role="alert" id="signup-error-alert">
            alert message example
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-24 col-sm-18 col-sm-offset-3 col-md-12 col-md-offset-6">
        <form action="" method="post" accept-charset="utf-8">
            <div class="form-group">
                <label for="name" class="required-label">Name</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name" class="required-label">Last Name</label>
                <input type="text" id="last_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="username" class="required-label">Username</label>
                <input type="username" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password" class="required-label">Password</label>
                <input type="password" id="password" class="form-control">
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" type="submit" id="signup-submit-button"> Get Started</button>
            </div>

        </form>

    </div>
    <div class="clearfix"></div>

</div>