<div class="modal fade" id="spam-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="statusModalLabel">Spam Report</h3>
            </div>
            <div class="modal-body">
                <form id='spam-report-form'>
                    <input type="hidden" id="spam_user_id" value=''/>
                    <input type="hidden" id="spam_msg_id" value=''/>
                    <h3>Spam level:</h3>
                    <label class="radio-inline">
                        <input type="radio" name="level" value="message" checked>Message
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="level" value="user" >User
                    </label>
                    <h3>Type:</h3>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="False" checked>False
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="Harassing">Harassing
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="AD">AD
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="Others">Others
                    </label>
                    <div class="form-group">
                        <label for="desc">Description:</label>
                        <textarea class="form-control" rows="3" id="description"></textarea>
                    </div>

                    <div class="form-group modal-instructions ">
                        <div class="row status-list">
                            <div class="col fake-list">
                                <label class="radio-inline ">
                                    <input type="radio" name="inlineRadioOptions" id="OK" value="OK">
                                </label>
                                <div><span><span class="status-list__color background-color-ok"><i class="fa fa-check"></i></span> OK</span></div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="spam-report-button" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>