<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="user-list-content main-content-block " id="user-list-content">
            <div>
                <p class="no-results-message text-center hidden">
                    NO USERS FOUND
                </p>
                <div class="clearfix"></div>
                <ul class="list-group list-instructions" id="user-list-content__list">
                    <template id="onlineUserTemplate">
                        <li class="list-group-item" >
                            <div class="list-group-item__left">
                                <span id = "statusSpan" class="status-list__color "><i id = "iconStatus" class="fa"></i></span>
                                <span class="username"></span>
                            </div>
                            <div class="list-group-item__right">
                                <a class="chat-button chat-button-alert content-changer" data-view-id="private-chat-content" data-user-id="">
                                    <span class="message-counter"></span>
                                    <span class="fa fa-comment"></span>
                                </a>
                                <span class="badge progress-bar-success badge-pill">online</span>
                            </div>
                        </li>
                    </template>
                    <template id="offlineUserTemplate">
                        <li class="list-group-item">
                            <div class="list-group-item__left">
                                <span id = "statusSpan" class="status-list__color "><i id = "iconStatus" class="fa"></i></span>
                                <span class="username"></span>
                            </div>
                            <div class="list-group-item__right">
                                <a class="chat-button content-changer" data-view-id="private-chat-content" data-user-id="">
                                    <span class="message-counter"></span>
                                    <span class="fa fa-comment"></span>
                                </a>
                                <span class="badge progress-bar-info badge-pill">offline</span>
                            </div>
                        </li>
                    </template>
                </ul>

            </div>
        </div>
    </div>
</div>