<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="">
            <ul class="user-profile-menu">
                <li>
                    <a class="content-changer user-profile-menu-btn btn btn-primary <% if (step == '1') { %> active <% } %>" data-view-id="user-profile-form1">1. Personal</a>
                </li>
                <li>
                    <a class="content-changer user-profile-menu-btn btn btn-primary <% if (step == '2') { %> active <% } %>" data-view-id="user-profile-form2">2. Medical</a>
                </li>
                <li>
                    <a class="content-changer user-profile-menu-btn btn btn-primary <% if (step == '3') { %> active <% } %>" data-view-id="user-profile-form3">3. Other</a>
                </li>
            </ul>
        </div>
    </div>
</div>