<div class="user-list main-content-block hidden-main-content-block" id="user-list">

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            user1
            <span class="badge progress-bar-success badge-pill">online</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            user2
            <span class="badge progress-bar-success badge-pill">online</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            user3
            <span class="badge progress-bar-info badge-pill">offline</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            user4
            <span class="badge progress-bar-info badge-pill">offline</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            user5
            <span class="badge progress-bar-info badge-pill">offline</span>
        </li>

    </ul>

</div>