<div class="row">
    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
        <div class="user-profile-forms main-content-block hidden" id="user-profile-form3">
            <template id="userProfileFormTemplate3">
                <h3 class="text-center block-title">User profile - <strong class="user-profile__username"></strong></h3>

                <% var step = '3'; %>
                <% include user_profile_menu %>

                <div class="row">
                    <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
                        <div class="inner-content-block-profile ">
                            <form accept-charset="utf-8" id="profile-form3" class="profile-form">
                                <input type="hidden" name="step" value="3" id="form_step">
                                <input type="hidden" name="user_id" id="form_user_id" value="">
                                <!-- Personal info content -->
                                <div class="profile-form profile-form__personal-info">
                                    <h4 class="subtitle">If something happens ... </h4>
                                    <div class="profile-form__user-attribute-data">
                                        <div class="form-group">
                                            <label class="full-width">Message to deliver to your emergency contact</label>
                                            <textarea name="message" id="user-profile-form__personal_message" placeholder="Enter the message that you would like to deliver to your emergency contact..."></textarea>
                                        </div>
                                    </div>
                                    <div class="profile-form__user-attribute-data">
                                        <div class="form-group">
                                            <label class="full-width full-width">Security question that your emergency contact must answer to have access to this message</label>
                                            <input class="full-width" type="text" name="security_question" id="user-profile-form__security_question" placeholder="Enter the security question here ..."></input>
                                        </div>
                                    </div>
                                    <div class="profile-form__user-attribute-data">
                                        <div class="form-group">
                                            <label class="full-width">Answer to the security question</label>
                                            <input class="full-width" type="text" name="security_question_answer" id="user-profile-form__security_question_answer" placeholder="Enter the answer to the security question here ..."></input>
                                        </div>
                                    </div>

                                    <div class="profile-form__submit">
                                        <button id="profile-form__submit-form2" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>

                            <div class="disclaimer">
                                <h4 class="subtitle">Why we need these information</h4>
                                <div>
                                    <ul>
                                        <li><strong>Birth date:</strong> Needed to establish your age and response steps based on this.</li>
                                        <li><strong>City and address:</strong> Might be needed to contact your relatives or get your medicines from home if not available elsewhere.</li>
                                        <li><strong>Emergency contact info:</strong> We'll try contacting your emergency contact by phone or at his / her address</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div id="user-profile-form-content__container-3">

            </div>
        </div>
    </div>
</div>