<div class="welcome-page-content main-content-block hidden-main-content-block" id="welcome-page-content">

    <p class="disclaimers">
        <i class="fa fa-warning" aria-hidden="true"></i>
        <br />
        <strong><span class="user-name-placeholder"></span> Thanks for creating your account. Please read the following terms of use and accept them by clicking in the acknowledgement checkbox at the bottom. After that you will be redirected to the help page:</strong>
        <ul class="home-instructions">
            <li>1. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.</li>
            <li>2. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus..</li>
            <li>3. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus..</li>
        </ul>
        <div class="col-xs-24 col-sm-18 col-sm-offset-3 col-md-12 col-md-offset-6">
            <form accept-charset="utf-8">

                <div class="checkbox zoomed-checkbox-form">
                    <label for="">
                        <input type="checkbox" name="signup-acknowledgement" checked="checked" id="signup-acknowledgement"> By clicking  on this checkbox you agree the terms stated above.</a>
                    </label>
                </div>
                <br>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" type="submit" id="acknowledgement-submit-button"> Continue</button>
                </div>


            </form>

        </div>
    </p>
</div>