//-------------- colores ---------------------
$brand_color1: #3371BC;
$brand_color2: #F58225;
$orange_forms: #e44e07a6;
$color_ok: #25D366;
$color_help: #F8D24F;
$color_emergency: #F7241D;
$color_undefined: #aaa;