<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header class="header">
    <% include partials/header %>
    <% include partials/loggedin_header.ejs %>
</header>


<main class="main-content">
    <!-- Page content goes here -->


    <% include partials/public_chat_content %>

    <% include partials/user_list %>


    <!-- END OF CONTENT -->
</main>

<footer class="footer">
    <% include partials/footer %>
</footer>

<% include partials/global_stylesheets %>

<!-- Scripts at the bottom for better performance -->
<% include partials/global_scripts %>
<script src="/javascripts/signout.js?v=1"></script>

<script >

    window.addEventListener('beforeunload', function (e) {
        e.preventDefault();
        alert("sure you want to close");
        e.returnValue = null;
    });


    //sends
</script>


</body>
</html>
