<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" >
<head>
    <% include partials/head %>
</head>
<body class="loggedin-body">
    <div class="container">
        <header class="header header-loggedin">
            <% include partials/loggedin_header.ejs %>
        </header>
    </div>


    <main class="main-content">
        <!-- Page content goes here -->

        <div class="container">
            <% var block_id= 'public'; %>
            <% include partials/public_chat_content %>
        </div>
        <div class="container">
            <% var block_id= 'private'; %>
            <% include partials/public_chat_content %>
        </div>
        <div class="container">
            <% var block_id= 'announcement'; %>
            <% include partials/public_chat_content %>
        </div>
        <div class="container">
            <% include partials/user_list %>
        </div>
        <div class="container">
            <% include partials/status-selection-popup %>
        </div>



        <!-- END OF CONTENT -->
    </main>

    <footer class="footer">
        <% include partials/footer %>
    </footer>

    <% include partials/global_stylesheets %>

    <!-- Scripts at the bottom for better performance -->
    <% include partials/global_scripts %>


    <!-- LOCAL SCRIPTS -->
    <script src="/javascripts/users_list.js?v=2"></script>
    <script src="/javascripts/chat.js?v=3"></script>
    <script src="/javascripts/signup.js?v=2"></script>
    <script src="/javascripts/signout.js?v=2"></script>
    <script src="/javascripts/status_selection_popup.js"></script>


</body>
</html>
