<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header class="header">
    <% include partials/header %>
</header>


<main class="main-content">
    <!-- Page content goes here -->


    <% include partials/public_chat_content %>

    <% include partials/user_list %>





    <!-- END OF CONTENT -->
</main>

<footer class="footer">
    <% include partials/footer %>
</footer>

<% include partials/global_stylesheets %>

<!-- Scripts at the bottom for better performance -->
<% include partials/global_scripts %>

</body>
</html>
