<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header class="header">
    <% include partials/header %>
</header>


<main class="main-content">
    <!-- Page content goes here -->


    <% include partials/example_partial_content %>
    <button class="btn btn-primary btn-lg" type="button" id="send-message-button">Send</button>


    <!-- END OF CONTENT -->
</main>

<footer class="footer">
    <% include partials/footer %>
</footer>

<% include partials/global_stylesheets %>

<!-- Scripts at the bottom for better performance -->
<% include partials/global_scripts %>


<!-- LOCAL SCRIPTS -->
<script src="/javascripts/chat.js?v=1"></script>
<script src="/socket.io/socket.io.js"></script>

</body>
</html>
