<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body data-grid-framework="b3" data-grid-color="red" data-grid-opacity="0.05" data-grid-zindex="2220" data-grid-gutterwidth="15px" data-grid-nbcols="24" class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>This is an example</p>
    </div>
</main>

<footer>
    <% include partials/footer %>
</footer>

<% include partials/global_stylesheets %>

<!-- Scripts at the bottom for better performance -->
<% include partials/global_scripts %>

</body>
</html>
