<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header class="header">
    <% include partials/header %>
</header>


<main class="main-content">
<!-- Page content goes here -->

    <div class="login-signup-intro">
        <p class="disclaimers">
            <i class="fa fa-warning" aria-hidden="true"></i>
            <br />
            <strong>Please stay calm and read the following instructions:</strong>
            <ul class="home-instructions">
                <li>1. If you have an account please click login and enter your login information</li>
                <li>2. If you don't have an account please click on Sign Up and enter a username, a password, your name and your last name.</li>
                <li>3. After you enter into the app you will be able to contact the emergency response team so you can let them know your location.</li>
            </ul>
            <div class="login-signup-body__actions">
                <a href="/login" class="btn btn-lg btn-primary">Login</a>
                <a href="/sign-up" class="btn btn-lg btn-primary">Sign up</a>
            </div>

        </p>
    </div>

<!-- END OF CONTENT -->
</main>

<footer class="footer">
    <% include partials/footer %>
</footer>

<% include partials/global_stylesheets %>

<!-- Scripts at the bottom for better performance -->
<% include partials/global_scripts %>

</body>
</html>
